*{
    margin: 0;
    padding: 0;
}
/*couleur*/
:root {
   --blanche: #ffffff;
   --lavande: #3D2DA6;
   --bleu: #07338C;
   --bleu-nuit: #021740;
   --rose-clair: #F2CEF2;
   --violet: #9E91B7;
   --rose: #DF99F2; 

}
/*police*/
@font-face{
    font-family: Panthera;
    src: url(../font/PantheraRegular-MVZ9J.ttf);
}
@font-face{
    font-family: WakandaForever;
    src: url(../font/WakandaForever-Regular.ttf);
}
@font-face{
    font-family: BEYNO;
    src: url(../font/BEYNO/BEYNO.ttf);
}
@font-face{
    font-family: Cantarell;
    src: url(../font/Cantarell-Regular.ttf);
}
h1{
    font-family:'Panthera';
    font-size: 60px;
}

h1, h2, h3{
    color: var(--violet)
}
h2{
    font-family: 'BEYNO';
    font-size: 32px ;
}
h3{
    font-family: 'BEYNO';
    font-size: 28px;
    
}
.texte{
    color: var(--blanche);
    font-family: 'Cantarell';
    font-size: 12px;
    padding-top: 10px;  
    padding-bottom: 10px;
}
.voirplus{
    text-decoration: underline;
    color: var(--blanche);
    font-family: 'Cantarell';
    font-size: 13px;
}
/*Fin Police*/
/*Reglage Background Image*/
body{
margin: 0;
padding: 0;
background-image: url(../Illustration/Allpages/arrière_plan.png);
background-size: cover;
}

/*Début de la contenu*/
/*Bar de navigation*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
}
.logo-nav{
    margin-left: 25px;
}
.logo-nav img:hover{
 color: var(--lavande);
}
/*Bar de navigation*/
.nav-bar{
    display: flex;
     justify-content: space-between;
     width: 20% ;
     color: var(--blanche);
     font-family: 'BEYNO';
    margin-right: 100px;
 }
 
 
 /*effet bar de navigation*/
 .nav-bar .active{
    color: var(--violet);
    text-decoration: underline;
}
 .nav-bar a{
    text-decoration: none;
    color: var(--blanche);   
}
.nav-bar :hover{
   text-decoration: underline;
   color: var(--blanche);
     
}
.nav-bar :active{
   text-decoration: underline;
   color: #9E91B7;
   font-weight: 300;
   font-size: 1.2rem;
   
}
header{
    margin-left: 10%;
}
/*Reseau sociaux à gauche*/
.logo-left{
    position: fixed;
    margin-top: -5%;
    writing-mode: vertical-lr;
    margin-left: 10px;
    height: 350px;
}
.ligne{
    color: var(--violet);
    border: 2px solid var(--violet);
}
.icon-gauche{
    margin-top: 60%;
    margin-left: 2px;
}
.icon-gauche img{
    width: 20px;
    margin-top: 10px;
}
.icon-gauche img:hover{

}
.ligne2{
color: var(--violet);
border: 2px solid var(--violet);
margin-left: 7px ;
margin-top: -250px;
margin-bottom: 100%;
margin-left: 20px;
}
/*contenu*/
/*Section introduction du film*/
.resume{
   background-image: url(../Illustration/Accueil/Pantherhome1..png);
   background-position: top right;
   background-size: contain;
   background-repeat: no-repeat;
   height: 450px;
   margin-bottom: 10%;
    
}
.black-resume{ 
    display: flex;
    width: 50%;
}
.black-resume .texte1{
    padding-top: 13%;
    margin-left: 20%;
    padding-bottom: 13%;
/*Section slider image personnages*/
}
.resume2{
    width: 90%;
    display: flex;
    background-color: var(--bleu-nuit);
    margin-left: 7%;
    height: 250px;
}
.killmonger-img{
    position: relative;
    align-items: center;
    margin-top: -50px;
    margin-left: 35px;
    width: auto;
    height: 150%;
}
.killmonger-img img{
    width: auto;
    height: 90%;
}
.okoye-img{
    width: auto;
    height: 100%;
}
.okoye-img img{
    width: auto;
    height: 100%;
}
.okoye-img2 img{
    width: auto;
    height: 100%;
}

.resumetxt{
    padding-top: 15px;
    margin-left: 20px;
}
/*Section histoire*/
.histoire{
    margin-top: 10%;
    display: flex;
    padding: 0 100px 100px 100px;
}
.column1{
    padding: 25px 90px 0 90px;
    text-align: justify;
}

/* Section profil de Tchalla à droite */
.img-tchalla{
    position: relative;
    left: 15%;
    z-index: 100;
    margin-inline: auto; 
    justify-self: center;
    align-self: center;
    width: 60%;
    margin-left: 5%;
}
.img-tchalla img{
    width: 100%
 
}
.column2{
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px ;
  
}
.column2 .bio{
    background-color: var(--blanche);
    height: auto;
    padding-top: 250px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    margin-top: -250px;
    border-radius: 10px;
    position: relative;
    justify-content: initial;
}
.bio p{
    font-family: 'Cantarell';
    font-size: 13px;
    color: var(--bleu-nuit);
    padding-top: 15px;
}
.bio .name{
    text-align: center;
    padding: 7px;
    font-size: 20px;
}
.statut li{
    border: 2px solid var(--lavande);
    font-family: 'Cantarell';
    display: inline-flex;
    
    height: 32px;
    margin-left: 5px;
    text-align: center;
    padding: 5px;
    color: var(--blanche);
    border-radius: 5px;
    background-color: var(--lavande);
}
/*image en bas du box profil*/
.ill-ronde{
    margin-top: 150px;
}

/*formulaire de contact*/
#contact{
    position: relative;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    place-content: center;
    justify-content: center;
    margin: 0px 100px 0px 100px;

}
.formulaire{
position: absolute;
  z-index: 100;
  top: 0;
  text-align: center;
  width: 60%;
  height: 50%;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.86) 0%, rgba(231, 225, 242, 0.37) 80%);
  justify-items: center;
  margin-top:10 0px ;
  margin-left: 17%;
  margin-right: 10%;
  border-radius: 145px ;
  padding-block: 30px;
  padding-inline: 15px ;
}
.formulaire .call{
    font-family: 'Cantarell';
    color: var(--bleu-nuit);
    font-size: 16px;
}
.formulaire .center-call{
font-family: 'Cantarell';
color: var(--bleu-nuit);
font-size: 32px;

}
input{
    align-self: center;
    margin-block: 0.5rem;
    align-self:center;
    margin-inline: auto;
    width: 520px;
    height: 35px;
    padding: 10px;
    background: transparent;
    border: var(--bleu-nuit) 1px solid;
    border-radius: 38px;
    color: var(--bleu-nuit);
    outline-color: #F2CEF2;
    font-family: 'Cantarell';
    font-size: 16px;
}
textarea{
    resize: none;
    width: 520px;
    height: 150px;
    padding: 10px;
    background: transparent;
    border: var(--bleu-nuit) 1px solid;
    border-radius: 38px;
    color: var(--bleu-nuit);
    outline-color: #F2CEF2;
    font-family: 'Cantarell';
    font-size: 16px;
}

.btn{
 align-items: center;
 width: 174px;
 height: 54px;
 border-radius: 38px;
 font-size: 15px;
 border: none;
 cursor: pointer;
 z-index: 1;
 font-family: 'Cantarell';
 color: var(--bleu-nuit);
 background-color: var(--rose-clair);
 margin-top: 20px;
 display: flex,
}
.btn:hover{
    box-shadow:  0px 0px 8px var(--bleu-nuit);
    filter: blur(20);

}
/* fin formulaire de contact*/
/*footer*/
footer{
    background: url(../Illustration/Allpages/back_footer.png);
    margin: 0;
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    
}
.rowprimary{
    display: grid;
    width: 100%;
    padding: 15%;
}
.column-img{
    width: 25%;
    height: 65%;
    margin-top: 5%;
    margin-left: 5% ;
    margin-bottom: 10%;

}
.column-img .footer1 img{
width: 70%;

}
.column-img .footer2{
    width: 100%;
    margin-bottom: 20%;
    margin-top: -50%;
    margin-left: 15%;
   
}
.column-page-icons{

    width: 600px;
}

.page{
    width: 30%;
    display: flex;
    justify-content: space-between;
     padding: 7px;
     margin-left: 40%;
     margin-top: -25%;
    
}
.page p{
    font-size: 16px;
    color: var(--blanche);
    font-family: 'Cantarell';
    
}
.page a{
    text-decoration: none;
    color: var(--blanche);
    font-size: 14px;
    font-family: 'Cantarell';
}
.page a:hover{
    text-decoration: none;
    color: var(--blanche);
}
.confident{
    font-family: 'Cantarell';
    font-size: 10px;
    color: var(--blanche);
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: -10%;
    padding-left: 7px;
}
.icons-footer img{
    width: wrap;
    max-width: 20rem;
}
.icons-footer img:hover{
    width: wrap;
    transform: scale(1.6);
    transition: all .5s ease;
    transform: rotate(20%);
}
.column-img :hover{
    transform: scale(100%);
    transition: all 0.5s ease;
}
.link-footer a:hover{
    text-decoration: underline;
    color: var(--blanche);
}